html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.ace_gutter {
  background-color: #262739 !important;
}
.ace_gutter-active-line {
  background-color: #262739 !important;
}

.ace_editor{
  background: #262739 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .main-button {
    @apply text-blue-500 font-bold rounded-md transition-all bg-slate-200 p-2 transform hover:scale-105;
  }
  .file-button {
    @apply px-1 hover:text-slate-100 transform hover:scale-110 text-white;
  }
}